<h1>URLockbox</h1>
<%#= render partial: "form" %>
  <%#= form_for @user.links.new, remote: true, id: "create_new" do |f| %>

    <%#= f.label :url %>
    <%#= f.text_field :url %>

    <%#= f.label :title %>
    <%#= f.text_field :title %>

    <%#= f.hidden_field :user_id%>

    <%#= f.submit %>
  <%# end %>
<form>
  <label for="url">URL</label>
  <input type="text" name="link[url]" id="link-url" value="" />
  <label for="title">Title</label>
  <input type="text" name="link[title]" id="link-title" value="" />
  <input type="hidden" name="current_user" id="link-user" value= "<%= current_user.id %>" />
  <button type="submit" name="button" id="create_new">Create Link</button>
</form>

<!-- filters -->
<h3>Filters:</h3>
  <label for="filter">Filter by Text</label><br>
  <input type="text" name="link[filter]" id="link-filter" />
  <button type="submit" name="button" id="show-read">Only Read Links</button>
  <button type="submit" name="button" id="show-unread">Only Unread Links</button>
<hr>
<!-- links table -->
<table class="links" border="1" width="100%" ID="Table2" style="margin: 0px;">
  <thead>
      <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Read?</th>
          <th>Mark as Read</th>
          <th>Edit</th>
      </tr>
  </thead>
  <tbody id="links">
    <% @links.each do |link| %>

        <%= render partial: 'show-link', locals: {link: link} %>

      <% end %>
  </tbody>
</table>
